p {
    color: rgb(96, 8, 133);
  }

a:hover{
    color: cyan;
}

html {
    font-size: 18px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: 'Lato', sans-serif; /* this should be the rest of the output you got from Google Fonts */
    background-color: #92c2ee;
  }
  
  h1{
    font-size: 60px;
    text-align: center;
  }

  p,
  li {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;

  }
  body {
    width: 600px;
    margin: 20px auto;
    background-color: #b9d9f0;
    padding: 20px 20px 20px;
    border: 5px solid rgb(255, 255, 255);
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #031a30;
    text-shadow: 3px 3px 1px rgb(171, 181, 197);
  }
  img{
    display: block;
    margin: 0 auto;
    width: 400px;
  }